= form_for(workshop, html: {class: "form-horizontal"}) do |f|
  - if workshop.errors.any?
    #error_explanation
      %h2
        = pluralize(workshop.errors.count, "error")
        prohibited this workshop from being saved:
      %ul
        - workshop.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :name, class: "form-control"

  .form-group
    = f.label :description, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_area :description, class: "form-control"
  
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: "btn btn-success"
      = link_to 'Back', workshops_path, class: "btn btn-default"