.row
  %h2
    Repairs Index Page
    = link_to "New Repair", new_repair_path, class: "btn btn-primary pull-right"
.row
  %table.table.tablep-hover
    %thead
      %tr 
        %th Title
        %th Malfunction Desc
        %th Status
        %th Price
    %tbody
      - @repairs.each do |repair|
        %tr
          %td= link_to repair.title, repair_path(repair)
          %td= repair.malfunction_desc
          %td= repair.status 
          %td= repair.price.to_f